#root {
  --top-bar-margin: 0.5rem;
  --top-bar-heigth: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  height: 100vh;
  overflow: hidden;
  display: flex;
}

/* Left Sidebar */
.left-sidebar {
  border-radius: 0 20px 20px 0;
  flex: 0 0 300px; /* Fixed width */
  min-width: 300px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
  border: 1px solid #e0e0e0;
  overflow: hidden;
}

.sidebar-header {
  padding: 0.7rem;
  font-size: 1rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
}

.left-sidebar > *:not(.sidebar-header) {
  flex: 1;
  overflow-y: auto;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.top-bar {
  height: var(--top-bar-heigth);
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  margin-bottom: var(--top-bar-margin);
  border-radius: 0 0 15px 15px;
  border: 1px solid #e0e0e0;
}

.canvas-container {
  flex: 1;
  display: flex;
  height: calc(100% - var(--top-bar-heigth) - var(--top-bar-margin)) !important;
}

.controls {
  display: flex;
  align-items: center;
}

.controls button {
  margin-right: 10px;
}

.simulation-area {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.right-sidebar {
  max-width: 350px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
  gap: 0.5rem;
}

.movement-grid > *:not(.sidebar-header) {
  flex: 1;
  overflow-y: auto;
}
